@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3rem;
  --nav-width: 4.25rem;
  --first-color: #092a85;
  --body-color: #f3f5fa;
  --grey-color: #637381;
  --purple-color: #8069f2;
  --light-color: #eeeeee;
  --green-color: #00ab55;
  --light-blue-color: #d6e5fa;
  --yellow-color: #fcd53b;
  --blue-color: #265df1;
  --red-color: #ef5b5b;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

a {
  text-decoration: none;
}
button {
  outline: 0 !important;
}
.page_isolant {
  background-color: var(--body-color);
  color: var(--grey-color);
}
.form-field {
  flex: 2;
}
.output {
  margin-left: 3rem;
  flex: 1;
}
.form-field label,
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgb(84, 84, 84);
}

.services {
  display: flex;
  justify-content: space-between;
}
.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}
.add-btn {
  align-self: flex-start;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(0, 208, 255);
  border: 1px solid rgb(0, 208, 255);
}

.second-division button {
  color: red;
  border: 1px solid red;
}
.title-user {
  display: flex;
  align-items: center;
  background-color: #d4cccc;
  padding: 4px 2px;
  border-radius: 8px;
  width: 100%;
  font-weight: 600;
  font-family: sans-serif;
}
.title-user img {
  border-radius: 50%;
  margin: 10px 15px;
}
.selOptions {
  color: #383838;
  width: 250px;
  margin-top: 15px;
}
.collabList {
  flex: 4;
}

.collabListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.collabListDelete {
  color: red;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.collabListEdit:hover {
  background-color: white;
  color: #3e9434;
  transition: ease-in-out 0.5s all;
  border: dashed #000 1px;
  border-radius: 16px;
}

.collabListDelete:hover {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.addnewCollab {
  background-color: #000;
  margin: 20px;
  color: rgb(114, 112, 112);
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 240px;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  color: #d4cccc;
}

.addnewCollab:hover {
  background-color: rgb(196, 193, 193);
  color: rgb(99, 99, 122);
}

.download-btn {
  @apply bg-indigo-600 hover:bg-gray-100 hover:text-indigo-600 fill-white hover:fill-indigo-600 px-4 py-2 
  flex text-white items-center gap-2 rounded;
}
